.app {
  width: 100wv;
  background: whitesmoke;
  /* background: rgb(228, 228, 228); */
  display: grid;
  grid-template-columns: auto minmax(300px, 400px);
}

nav {
  height: 60px;
  background: white;
  color: rgb(228, 52, 52);
  font-size: 28px;
  text-align: center;
  line-height: 60px;
  grid-column: 1/-1;
}

.content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 16px;
  padding: 16px;
}

.item {
  height: 300px;
  /* background: rgb(228, 228, 228); */
  background: white;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 8px rgba(102,119,136, .01), 0 1px 2px rgba(102,119,136,.1);
}

.item:hover {
  cursor: pointer;
}


.item img {
  width: 100%;
  height: 150px;
  flex-grow: 1;
  object-fit: contain;
}

.name {
  margin: 16px;
}

.details .name {
  font-size: 24px;
}
.item .types {
  padding: 4px;
}

.details {
  position: sticky;
  top: 16px;
  padding: 16px;
  margin: 16px 16px 16px 0;
  /* background: rgb(228, 228, 228); */
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 2px 8px rgba(102,119,136, .01), 0 1px 2px rgba(102,119,136,.1);
  /* border-bottom: 2px solid rgb(228, 52, 52); */
}

.details img {
  width: 100%;
  height: 200px;
  object-fit: contain;
}

table {
  font-size: 14px;
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

th {
  color: #039;
  border-bottom: 2px solid #6678b1;
  padding: 10px 8px;
}

td {
  color: #669;
  padding: 9px 8px;
}

.load_btn {
  background: rgb(68, 68, 216);
  color: white;
  font-size: 24px;
  margin: 16px;
  height: 60px;
  grid-row: 3;
}
