.app {
  display: grid;
  grid-template-columns: auto minmax(300px, 350px);
}

.shadow {
  box-shadow: 0 2px 8px rgba(102,119,136, .01), 0 1px 2px rgba(102,119,136,.1);
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.nav-panel {
  background: white;
  color: rgb(228, 52, 52);
  font-size: 28px;
  text-align: center;
  line-height: 60px;
  grid-column: 1/-1;
}

.poke-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-rows: minmax(auto, 250px);
  grid-gap: 16px;
  grid-row: 3;
  padding: 16px;
}

.poke-item {
  height: 250px;
  background: white;
  padding: 24px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid white;
  transition: border 0.2s;
}

.poke-item:hover {
  border-bottom: 2px solid rgb(228, 52, 52);
}

.flex-column img {
  width: 100%;
  flex-grow: 1;
  object-fit: contain;
}

.poke-name {
  margin: 16px;
}

.poke-types {
  margin: 4px;
}

.poke-types span:hover {
  cursor: pointer;
}

.poke-details .name {
  margin-bottom: 16px;
  font-size: 24px;
}

.details-wrapper {
  grid-row: 3;
  grid-column: 2;
}

.poke-details {
  position: sticky;
  top: 16px;
  padding: 16px;
  margin: 16px 16px 16px 0;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.poke-details img {
  height: 200px;
}

.poke-details table {
  font-size: 14px;
  width: 100%;
  text-align: center;
}

.poke-details table td {
  color: rgb(55, 55, 128);
  padding: 9px 8px;
  width: 50%;
}

.btn {
  border: none;
  color: white;
  font-size: 24px;
  height: 60px;
  grid-row: auto;
  grid-column: 1/-1;
}

.load {
  background: rgb(68, 68, 216);
}

.reset {
  background: rgb(228, 52, 52);
}
